/* Global Variable */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-blue: #3d518c;
  --color-dark-blue: #091540;
  --color-light-blue: #7692ff;
  --color-black: #000000;
  --color-dark-grey: #2e2e2e;
  --color-grey: #616161;
  --color-light-grey: #a29f9f;
  --color-skyblue: #abd2fa;
  --color-aqua: #303fc7;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-medim: 500;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: 4px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: 4px 0;
}

body,
button {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #7692ff;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}
.navbar__menu {
  display: flex;
  font-size: var(--font-small);
  font-weight: var(--weight-medim);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-blue);
}

/* Home */
#home {
  background: url("imgs/home/background_blue.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-blue);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-medim);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-blue);
  border-radius: 4px;
  color: var(--color-blue);
}

/* Section in common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1000px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  margin: auto;
  font-size: 70px;
  color: var(--color-blue);
  border: 1px solid var(--color-light-grey);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-light-blue);
  transform: rotate(-15deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job__icon {
  font-size: var(--font-large);
  color: var(--color-dark-grey);
  margin: 13px 30px;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* SKills */
#skills {
  background-color: var(--color-light-white);
}

.skillset__title {
  font-size: var(--font-medium);
  font-weight: var(--weight-medim);
  color: var(--color-white);
  margin-bottom: 20px;
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-light-blue);
}

.tools,
.etc {
  padding: 20px;
}
