/* Global Variable */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-blue: #3D518C;
    --color-dark-blue: #091540;
    --color-light-blue: #7692FF;
    --color-black: #000000;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-skyblue: #ABD2FA;
    --color-aqua: #303FC7;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: black;
    margin: 4px 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

/* Navbar */
#navbar {
    display: flex; 
    justify-content: space-between;
    background-color: #7692FF;
    align-items: center;
    color: var(--color-white);
    padding: 16px;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}
.navbar__menu {
    display: flex;

}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);

}

.navbar__menu__item.active {
    border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
    background-color: var(--color-blue);
}